<!DOCTYPE html>
<html>
<head>
    <title>Hospital Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

<div class="overlay">

    <div class="login-box">

        <h1>Welcome to Hospital Appointment Booking System 🏥</h1>

        <div class="buttons">

            <a href="/patient-login" class="btn">
                Patient Login
            </a>

            <a href="/patient-register" class="btn">
                Patient Register
            </a>

            <a href="/doctor-login" class="btn">
                Doctor Login
            </a>

        </div>

    </div>

</div>

</body>
</html>